<md-card ng-controller="ButtonsController">
    <div layout="row" class="device-header">
        <div class="device-icon-wrapper">
            <span class="device-icon">
                <i class="mdi mdi-cursor-pointer"></i>
            </span>
        </div>
        <div class="device-titles" layout="column" flex>
            <h1>{{device.name}}</h1>

            <h2>{{device.template}}</h2>
        </div>
    </div>
    <di class="md-actions" layout="row" layout-align="end center">
        <md-button ng-repeat="button in device.config.buttons" ng-click="buttonPressed(button)">{{button.text}}</md-button>
    </di>
</md-card>