<md-card>
    <div layout="row" class="device-header">
        <div class="device-icon-wrapper">
            <span class="device-icon">
                <i class="mdi mdi-tag-text-outline"></i>
            </span>
        </div>
        <div class="device-titles" layout="column" flex>
            <h1>{{device.name}}</h1>

            <h2>{{device.template}}</h2>
        </div>
    </div>
    <md-card-content>
        <div layout="column">
            <div style="margin-bottom: 8px;" attribute-value attribute="attribute" use-name="1" ng-repeat="attribute in device.attributes"></div>
        </div>
    </md-card-content>
</md-card>