<md-content>
    <section ng-repeat="group in getGroups()">
        <md-subheader class="md-primary">{{group.name}}</md-subheader>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="deviceId in group.devices">
                <div class="md-list-item-text">
                    <h3>{{getDevice(deviceId).name}}</h3>

                    <p>id: {{getDevice(deviceId).id}} (class: {{getDevice(deviceId).config.class}})</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </section>
    <section>
        <md-subheader class="md-primary">{{'UNGROUPED' | translate}}</md-subheader>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="deviceId in getUngroupedDeviceIds()">
                <div class="md-list-item-text">
                    <h3>{{getDevice(deviceId).name}}</h3>

                    <p>id: {{getDevice(deviceId).id}} (class: {{getDevice(deviceId).config.class}})</p>
                </div>
            </md-list-item>
        </md-list>
    </section>
</md-content>

