<div layout="row">
    <div flex-sm="100" flex-md="50" flex-gt-md="33" offset-sm="0" offset-md="25" offset-gt-md="33">
        <md-card class="login-card">
            <md-card-content>
                <h2>About</h2>
                <p>Pimatic Angular Material Frontend is a plugin for Pimatic, delivering a frontend in Material Design (<a href="https://www.google.com/design/spec/material-design/introduction.html" target="_blank">specs</a>).
                    The application is powered by <a href="https://angularjs.org/" target="_blank">AngularJS</a>
                    in combination with <a href="https://material.angularjs.org/" target="_blank">Angular Material</a>.</p>
                <p>Found a bug? Have a suggestion? Please create an issue <a href="https://github.com/denniss17/pimatic-angular-material-frontend/issues">here</a>.</a></p>
                <p>Pimatic Angular Material Frontend is developed by Dennis Schroer.</p>
                <p>Version: {{version}}</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button href="https://github.com/denniss17/pimatic-angular-material-frontend/issues" target="_blank"><md-icon md-font-icon="mdi mdi-bug"></md-icon> Report bug</md-button>
                <md-button href="https://github.com/denniss17/pimatic-angular-material-frontend" target="_blank"><md-icon md-font-icon="mdi mdi-github-circle"></md-icon> View source</md-button>
            </div>
        </md-card>
    </div>
</div>
