<md-tabs md-dynamic-height md-center-tabs class="md-primary md-w" layout-align="center end" md-selected="selectedTab">
    <md-tab ng-repeat="page in store.get('pages')" label="{{page.name}}" md-on-select="tabSelected(page)">
        <md-content>
            <div layout="row" layout-wrap>
                <div ng-repeat="device in page.devices" flex-sm="100" flex-md="100" flex-lg="50" flex-gt-lg="33">
                    <device-card device="store.get('devices', device.deviceId)"></device-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>