<md-card>
    <md-card-content>
        <div layout="column">
            <h3 class="md-title">{{device.name}}</h3>
            <div layout="row" ng-repeat="attribute in device.attributes">
                <div flex layout="row" layout-align="start center">
                    {{attribute.label}}
                </div>
                <div class="md-body-2">
                    {{attribute.value | number:1}} {{attribute.unit}}
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>