<md-card ng-controller="SwitchController">
    <md-card-content>
        <div layout="row">
            <div flex>
                <h2 class="md-subhead">{{device.name}}</h2>
            </div>
            <div layout="row" layout-align="end center">
                <span class="md-headline">
                    <md-switch ng-model="getAttribute('state').value" ng-change="updateValue(getAttribute('state'))"
                               aria-label="Switch">
                    </md-switch>
                </span>
            </div>
        </div>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="left center">

    </div>
</md-card>