<md-card>
    <md-card-content>
        <div layout="row">
            <div flex>
                <h2 class="md-subhead">{{device.name}}</h2>
            </div>
            <div layout="row" layout-align="end center">
                <span class="md-headline">
                    <md-switch ng-model="getVariable(device.id, 'state').value" aria-label="Switch">
                    </md-switch>
                </span>
            </div>
        </div>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="left center">

    </div>


</md-card>