<!--md-card>
    <md-card-content>
        <div layout="row">
            <div flex>
                <h2 class="md-subhead">{{device.name}}</h2>
            </div>
            <div layout="row" layout-align="center center" class="device-values">
                <span class="md-headline device-value">
                    {{getVariable(device.id, 'temperature').value | number:1}} {{getVariable(device.id, 'temperature').unit}}
                </span>
                <span class="md-headline device-value">
                    {{getVariable(device.id, 'humidity').value | number:1}} {{getVariable(device.id, 'humidity').unit}}
                </span>
            </div>
        </div>
    </md-card-content>
</md-card-->

<md-card>
    <div layout="row" class="device-header">
        <div class="device-icon-wrapper">
            <span class="device-icon">
                <i class="mdi mdi-thermometer"></i>
            </span>
        </div>
        <div class="device-titles" layout="column" flex>
            <h1>{{device.name}}</h1>

            <h2>{{device.template}}</h2>
        </div>
    </div>
    <md-card-content>
        <div layout="column">
            <div layout="row" ng-repeat="attribute in device.attributes">
                <div flex layout="row" layout-align="start center" class="md-body-1">
                    {{attribute.label}}
                </div>
                <div class="md-body-2">
                    {{attribute.value | number:1}} {{attribute.unit}}
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>