<div class="md-padding">
    <form name="form" ng-submit="save()">
        <md-input-container>
            <label>{{'LABEL.ID' | translate}}</label>
            <input name="id" ng-model="page.id" required pattern="[a-z0-9_\-]*" type="text">

            <div ng-messages="form.id.$error" ng-show="form.id.$dirty">
                <div ng-message="pattern">{{'MESSAGE.ID_PATTERN' | translate}}</div>
                <div ng-message="required">{{'MESSAGE.REQUIRED' | translate}}</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>{{'LABEL.NAME' | translate}}</label>
            <input name="name" ng-model="page.name" required type="text">

            <div ng-messages="form.name.$error" ng-show="form.name.$dirty">
                <div ng-message="required">{{'MESSAGE.REQUIRED' | translate}}</div>
            </div>
        </md-input-container>

        <md-button class="md-raised md-primary">
            {{ 'ACTION.SAVE' | translate }}
        </md-button>
        <md-button class="md-raised" ng-click="cancel($event)">
            {{ 'ACTION.CANCEL' | translate }}
        </md-button>
    </form>
</div>


